!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
!.idea/runConfigurations/debug5005.xml
.DS_Store
.attach_pid*
.bloop
.idea/
.java-version
.metals
.vscode/
bin/
ci/secring.asc
lib/
project/metals.sbt
project/project
target/
zip/
